<!-- Main content-->
  <main class="container">
    <div class="jumbotron text-center">
      <h1>About Me</h1>
    </div>
<div class="container">
<p>My Name is Nahia Akter and I'm from Bangladesh. I have completed my Masters in Pharmacy from University of Dhaka.
Software Engineering is a new sector for me and there are so many things to learn. Learning computer language is hard but it is
also interesting. When I get success in coding a program and understand how its works, I feel like I accomplished something.
<img src="Assets/images/Nahia Akter.jpg" alt="personal picture" style="float:right">

<p>Some of my favorite activities are:</p>
<ul>
<li>Reading</li>
<li>Travelling</li>
<li>Cooking</li>
<li>Listening music</li>
</ul>
<!--Resume-->
<a button type="submit" class="btn btn-primary" href="Assets/files/Resume of Nahia Akter.pdf">Resume</button></a>
</div>
</body>
</main>








    
