<!-- Main content-->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
    <div>
              <h2 style="color: lightskyblue;"></h2>
              <p></p>
              <h2 style="color: lightskyblue;"></h2>
              <blockquote class="blockquote"></blockquote>
              <h2 style="color: lightskyblue;"></h2>  
              <ul id="hobbies"></ul>
              <li>Travelling</li>
              <li>Reading</li>
              <li>Cooking</li>
        </div>
     </main>

