 <!--Main Body-->
    <main>
    <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
          <!--code for colomn-->
        <div class="container">
          <div class="row">
              <div class="col-sm-4">
                <h3>Project 1</h3>
                <p id="pro1">First Project</p>
              </div>
              <div class="col-sm-4">
                <h3>Project 2</h3>
                <p id="pro2">Second Project</p>
              </div>
              <div class="col-sm-4">
                <h3>Project 3</h3>
                <p id="pro3">Third Project</p>
              </div>
          </div>
        </div>
    </main>
    

